#OS junk files
[Tt]humbs.db
*.DS_Store

# Visual Studio 2015
# sdf, stores information for Visual Studio's Intellisense
*.sdf
*.opensdf
# suo, solution user file (hidden)
*.suo
# vs directory, stores user specific files
.vs/